<%- include("partials/header") -%>

      </header>

      <main class="chat-main">

        <div class="chat-container">

            <div class="chat-title-container">
                <h3 class="m-5"><%= project.title %></h3>

            </div>



            <div class="messages-container" id="messages-container">

                <% chat.chatHistory.forEach(message => { %>
                    
                   
                    <% let type = "receiver" %>
                    <% if(message.userID == userID){ %>
                        <% type = "sender";} %>

                <div class="message message-<%= type %>">
                    <h3><%= message.userName %></h3>
                    <p><%= message.message %></p>
                </div>

                <%}); %>

            </div>



            <div class="messgae-form-container message-input">
                <form class="message-form" action="/projects/<%= project._id %>/send" method="POST" >
                    <input class="form-control chat-input me-2" name="chatText" type="text" required placeholder="Message">
                    <button type="submit" class="btn chat-btn btn-primary">Send</button>
            </form>

            </div>
        </div>

        <% if(project.userID == userID){ %>
            <div class="chat-buttons-container">
                <button class="btn btn-primary btn-lg mt-3" id="establishProject" onclick="establishProject()">Complete Project</button>
                <button class="btn btn-danger btn-lg mt-3" id="removeProject" onclick="removeProject()">unEstablish Project</button>
            </div>
        <% } %>


      </main>

      <script>
        var objDiv = document.getElementById("messages-container");
        objDiv.scrollTop = objDiv.scrollHeight;
      </script>


<%- include("partials/footer") -%>