<%- include("partials/header") -%>

      </header>
      <p style="display: none;" id="userName"><%= userName %></p>
      <p style="display: none;" id="userID"><%= userID%></p>
      <p style="display: none;" id="projectID"><%= project._id%></p>

      <main class="chat-main">

        <div class="chat-container">

            <div class="chat-title-container">
                <h3 class="m-5"><%= project.title %></h3>

            </div>


            
            <div class="messages-container" id="messages-container">

                <% chat.chatHistory.forEach(message => { %>
                    
                   
                    <% let type = "receiver" %>
                    <% if(message.userID == userID){ %>
                        <% type = "sender";} %>

                <div class="message message-<%= type %>">
                    <p><%= message.userName %></p>
                    <h4><%= message.message %></h4>
                </div>

                <%}); %>

            </div>



            <div class="messgae-form-container message-input">
                <form class="message-form" onsubmit="sendMessage()">
                    <input class="form-control chat-input me-2" id="message-text" name="chatText" type="text" required placeholder="Message">
                    <button type="button" class="btn chat-btn btn-primary" onclick="sendMessage()"><img src="../images/send.png" alt=""></button>
                </form>
            </div>
        </div>

        <% if(project.userID == userID){ %>
            <div class="chat-buttons-container">
                <button class="btn btn-primary btn-lg mt-3" onclick="completeProject()">Complete Project</button>
                <button class="btn btn-danger btn-lg mt-3" onclick="stopProject()">Stop Project</button>
            </div>
        <% } %>


      </main>

      <!-- Popup for stopping the project -->
      <div class="popupWindow hidePopupWindow" id="stopProjectPopupWindow">
        <div class="popup-message">
            <img class="mb-2" src="../images/remove.png">
            <h3>Are You Sure?</h3>
        </div>
        <div class="sure-buttons-container">
            <form action="/projects/<%= project._id %>/stop" method="POST">
                <button type="submit"class="btn btn-danger btn-lg" >Stop</button>
                <button type="button" class="btn btn-primary btn-lg" onclick="stopProject()">Cancel</button>
            </form>
        </div>
    </div>

      <div class="popupWindow hidePopupWindow" id="completePopupWindow">
        <div class="popup-message">
            <img class="mb-2" src="../images/accept.png">
            <h3>Are You Sure?</h3>
        </div>
        <div class="sure-buttons-container">
            <form style="display: inline;" class="message-form" action="/projects/<%= project._id %>/complete" method="POST">
                <button type="submit" class="btn btn-success btn-lg">Complete</button>
                <button type="button" class="btn btn-danger btn-lg" onclick="completeProject()">Cancel</button>
            </form>
        </div>
    </div>

      <script>
        var messagesContainer = document.getElementById("messages-container");
        messagesContainer.scrollTop = messagesContainer.scrollHeight;

        const socket = io("http://localhost:3000")
        socket.on('connection')

        socket.on("message", (data) => {
            const username = document.createElement("p");
            username.textContent = data.username;
            const userID =  document.querySelector("#userName").textContent

            let type = "receiver"
            if(data.userID == userID){
                type = "sender"
            }
            
            displayMessage(username,data.message,type)
        })


        const displayMessage = (userName, message, type) => {

            const messageDiv = document.createElement("div")
            messageDiv.classList.add("message")
            messageDiv.classList.add("message-" + type)

            const messageH4 = document.createElement("h4");
            messageH4.textContent = message;

            messageDiv.appendChild(userName)
            messageDiv.appendChild(messageH4)

            document.querySelector("#messages-container").appendChild(messageDiv)            

            document.querySelector("#message-text").value = ""

            // messagesContainer.scrollTop = objDiv.scrollHeight;
        }

        const sendMessage = () => {
            
            const messageText = document.querySelector("#message-text").value;
            if(messageText == ""){
                return false;
            }

            const userName = document.createElement("p");
            userName.textContent = document.querySelector("#userName").textContent
            displayMessage(userName,messageText, "sender")

            const userID =  document.querySelector("#userID").textContent
            const projectID =  document.querySelector("#projectID").textContent

            message= {
                message: messageText,
                username: userName.textContent,
                userID: userID,
                projectID: projectID
            }

            socket.emit("message", message)
        }

      </script>



<%- include("partials/footer") -%>