<%- include("partials/header") -%>

<!-- Carousel -->
    <div id="carousel" class="carousel carousel-home slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="images/slider/1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="images/slider/2.png" class="d-block w-100" alt="...">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
</header>


<main>
<div class="row">

    <% projectsList.forEach(project => {%>

   
        <div class="btn card col col-2 m-3 mt-5 mb-1">
            <a class="card-btn" href="projects/<%=project._id.toString()%>">         
                <div class="img-container">
                    <img src="../<%= project.img.split(",")[0] %>" class="card-img-top" alt="...">
                </div>        
                <div class="card-body">
                    <h5 class="card-title mb-3"><%= project.title %></h5>
                    <p class="card-text"><%= project.description %></p>
                </div>
    
                <div class="tags">
                    <% project.skills.forEach(skill => {%>
                        <a href=""><span class="tag tag-firestore tag-md me-3 mb-2">#<%= skill %></span></a>
                    <%}); %>
                </div>
            </a>
        </div>
    <%  }) %>

    </div>
</main>         
            
<%- include("partials/footer") -%>