<%- include("partials/header") -%>


<% if(alert) {%>
    <div class="alert alert-<%= alert.type %> alert-dismissible fade show m-3" role="alert">
        <strong><%= alert.title %></strong> <%= alert.message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<!-- Carousel -->
<% if(carousel) {%>
    <div id="carousel" class="carousel carousel-home slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="images/slider/header3.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="images/slider/header2.jpeg" class="d-block w-100" alt="...">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
    <% }%>

</header>
<div class="main-buttons">
    <!-- <form class="d-flex" id="form1" method="post" action="/searchHome">
        <input class="form-control me-2" name="searchQuery"type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-light" type="submit"><img class="searchSymbol" src="/images/search-symbol.png"></button>
    </form> -->
</div>
<main>
<div class="row">

    <% projectsList.forEach(project => {%>

   
        <div class="btn card col col-2 m-3 mt-5 mb-1">
            <a class="card-btn" href="projects/<%=project._id.toString()%>">         
                <div class="img-container">
                    <img src="../<%= project.img.split(",")[0] %>" class="card-img-top" alt="..." onerror="this.src='../images/not-found.jpeg';">
                </div>        

                <div class="card-body">
                    <h5 class="card-title mb-1"><%= project.title %></h5>
                    <p class="card-text"><%= project.description %></p>
                </div>
    
                <div class="tags">


                    <% let temp = 0 %>
                    <% project.skills.forEach(skill => {%>
                        <% temp = temp + skill.replace(" ", "").length %>
                        <% if(temp < 15) { %>
                        <a href=""><span class="tag tag-firestore tag-md me-2 mb-2">#<%=skill.replace(" ", "")%></span></a>
                        <% } %>
                    <%}); %>



                </div>
            </a>
        </div>
    <%  }) %>

    </div>
</main>         
<br>
<br>
<%- include("partials/footer") -%>