<%- include("partials/header") -%>
      </header>
      <main>
        <div class="main-buttons">

            <button class="btn btn-primary me-3" id="add-project-btn">Add Project</button>

        </div>

            <!-- Add Project popup  -->
        <div class="popupWindow hidePopupWindow" id="addProjectPopupWindow">
            <div class="popup-message">
                <img class="mb-2" src="../images/add.png">
                <h3>Add new Project</h3>
            </div>    

            <div class="popup-content">
                <form action="my-projects" method="post" enctype="multipart/form-data">
                    <input type="text" class="form-control mt-3" name="title" placeholder="Project Title" required>
                    <textarea class="form-control mt-3" name="projectDescription" id="" cols="30" rows="5" placeholder="Project Description" required></textarea>             
                    <div class="form-group row  mt-3">
                        <label for="skills" class="col-sm-4 col-form-label">Skills Needed</label>
                        <div class="col-sm-8">
                          <input id="skills" type="text" class="form-control" name="skills" placeholder="Javascript, css, HTML" required>
                        </div>    
                    </div>    
                    <div class="form-group row mt-3">
                        <label for="chooseImg" class="col-sm-4 col-form-label">Add Images</label>
                        <div class="col-sm-8">
                            <input id="chooseImg" type="file" class="form-control" name='images' multiple accept="image/jpeg, image/png" required>
                        </div>       
                    </div>       
                    <div class="sure-buttsons-container mt-3">
                        <button class="btn btn-primary btn-lg mb-2" id="addProject">Add</button>
                    </div>
                    <a class="" id="cancelAddingProject">Cancel</a>
            </form>
            </div>
 

        </div>


        <div class="row">
            <% projectsList.forEach(project => {%>

   
                <div class="btn card col col-2 m-3 mt-5 mb-1">
                    <a class="card-btn" href="/projects/<%=project._id.toString()%>">         
                        <div class="img-container">
                            <img src="../<%= project.img.split(",")[0] %>" class="card-img-top"  alt="..." onerror="this.src='../images/not-found.jpeg';">
                        </div>        
                        <div class="card-body">
                            <h5 class="card-title mb-3"><%= project.title %></h5>
                            <p class="card-text"><%= project.description %></p>
                        </div>
            
                        <div class="tags">
        
        
        
                            <% let temp = 0 %>
                            <% project.skills.forEach(skill => {%>
                                <% temp = temp + skill.replace(" ", "").length %>
                                <% if(temp < 15) { %>
                                <a href=""><span class="tag tag-firestore tag-md me-2 mb-2">#<%=skill.replace(" ", "")%></span></a>
                                <% } %>
                            <%}); %>
        
        
        
                        </div>
                    </a>
                </div>
            <%  }) %>


            
         
          </div>
      </main>
<%- include("partials/footer") -%>
