<%- include("partials/header") -%>

    </header>


    <main>
        <!-- add previous project "button"  -->
        <div class="main-buttons">
        <button class="btn btn-primary me-1" id="add-prev-project">add previous projects</button>
        <button class="btn btn-primary" id="edit-about-me">edit "About me"</button>
        </div>
        <!-- popup window for adding previous projects -->
        <div class="popupWindow hidePopupWindow" id="addPrevProjectPopupWindow">
            <!-- popup message -->
            <div class="popup-message">
                <img src="images/project.png" alt="">
                <h3>Add previous project</h3>
            </div>
            <!-- popup content -->
            <div class="popup-content">
                <form  id="addPrevProjectForm" action="/addPrevProject" method="post">
                    <div class="form-group row  mt-3">
                        <label for="Title" class="col-sm-4 col-form-label" >Project Title</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  placeholder="title" id="title" required>
                        </div>    
                    </div>
                    <textarea class="form-control mt-3" name="description" id="description" cols="30" rows="5" placeholder="Project Description and your contribution" required></textarea>             
                    
                    <!-- <div class="form-group row  mt-3">
                        <label for="link" class="col-sm-4 col-form-label" >Project link</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="link" placeholder="project website,video, etc..." id="link" required>
                        </div>    
                    </div> -->
                    
                    <div class="form-group row  mt-3">
                        <label for="skills" class="col-sm-4 col-form-label">Skills used</label>
                        <div class="col-sm-8">
                          <input name="skills" id="skills" type="text" class="form-control" placeholder="Javascript, css, HTML" required>
                        </div>    
                    </div>    
                    <div class="form-group row mt-3">
                        <label for="chooseImg" class="col-sm-4 col-form-label">Add Images</label>
                        <div class="col-sm-8">
                            <input id="chooseImg" type="file" class="form-control" name='images' multiple accept="image/jpeg, image/png" required>
                        </div>       
                    </div>
                    <!-- <div class="form-group row mt-3">
                        <label for="completeDate" class="col-sm-4 col-form-label">Date completed</label>
                        <div class="col-sm-8">
                            <input id="completeDate" type="date" class="form-control" required>
                        </div>  
                    </div> -->
                    <div>
                        <label for="contactChoice1">completed?</label>
                        <input type="checbox" name="completed" value="true" />
                      </div>
                    <div class="sure-buttsons-container mt-3">
                        <button class="btn btn-primary btn-lg mb-2" id="addProject">Add</button>
                    </div>
                    <a class="" id="cancelAddingPrevProject">Cancel</a>
                </form>
            </div>
        </div>
        <!-- previous projects will be below -->
        <h1 class="text-center">Projects Portfolio</h1>
        
            <% for(i in projects){ %>
                <div class="row">
                    <div class="btn card col col-2 m-3 mt-5 mb-1">       
                            <div class="img-container">
                                <img src="../<%= projects[i].img.split(",")[0]%>" class="card-img-top" alt="...">
                            </div>        
                            <div class="card-body">
                                <h5 class="card-title mb-3"><%= projects[i].title %> </h5>
                                <p class="card-text"><%= projects[i].description %></p>
                            </div>

                            <div class="tags">
                                
                                <% for (j in projects[i].skills ){ %>
                                    <a href=""><span class="tag tag-firestore tag-md me-3 mb-2">#<%= projects[i].skills[j] %></span></a>
                                <%}%>
                                <!-- <a href=""><span class="tag tag-firestore tag-md me-3 mb-2">#HTML</span></a>
                                <a href=""><span class="tag tag-firestore tag-md me-3 mb-2">#CSS</span></a> -->
                            </div>
                        </a>
                    </div>

                </div>
            <%}%>
        
    </main>
<%- include("partials/footer") -%>