    
    
    <%- include("partials/header") -%>

</header>
    <main>



        <div class="p-text-container mt-5 mb-3">
            <div class="d-flex justify-content-between">
                <h1>Portfolio</h1>
            </div>
              
                <p class="p-text"> <%= userName %></p>
            <!-- <#%= project.title %> -->
          </div>

        <!-- ------------------------------------- -->
      <div>

          <div class="p-text-container mt-5 mb-3">
            <div class="d-flex justify-content-between">
                <h1>About me</h1>
                <% if (viewerID == ownerID) { %>
                    <button class="btn btn-primary h-50" id="edit-about-me">        
                        <i class="material-icons" style="font-size:16px">edit</i> Edit
                    </button>
                    <% } %>
            </div>
              
              <p onfocusout="saveChnageInAboutMe()" id="about-me-text" data-placeholder="..." contenteditable class="p-text portfolio-editable-text">
                <% if (description) { %>
                       
                <%=description%>
            
                <% } %>
              </p>
              <!-- <#%= project.title %> -->
          </div>

          <div class="p-text-container">
            <div class="d-flex justify-content-between">
                <h1>My Previous Projects</h1>
              <% if (viewerID == ownerID) { %>
                    <button class="btn btn-primary me-1 h-50" id="add-prev-project">
                        
                        <i class="material-icons" style="font-size:16px">add</i> Add

                    </button>
              <% } %>
            </div>
              
            <div class="row portfolio-container mb-5">

            <% for(i in projects){ %>
                    <div id="<%=projects[i]._id%>" class="btn card portfolio-card col col-4 m-1 mt-5 mb-1">
                        <div class="row g-0">
                            <div class="col-6 col-md-4">
                                <img src="../<%= projects[i].img.split(",")[0]%>" class="img-fluid rounded-start" alt="" onerror="this.src='../images/not-found.jpeg';">
                            </div>
                            <div class="col-6 col-md-8">
                                <div class="card-body d-flex flex-column"> 
                                    <div class="h-100">

                                        <div class="d-flex justify-content-between">
                                            <h1 class="card-title mb-3 mt-1 portfolio-card-title"><%= projects[i].title %> </h1>
                                            <% if (viewerID == ownerID) { %>
                                                <button class="btn btn-primary me-1 h-50" id="delete-prev-project-<%=projects[i]._id%>" onClick="deletePrevProject(this.id)">
                                                    
                                                    <i class="material-icons" style="font-size:16px">delete_outline</i>
        
                                                </button>
                                          <% } %>
                                        </div>

                                        <p class="portfolio-card-text">
                                            <%= projects[i].description %>
                                        </p>
                                        <div class="tags .portfolio-card-tag">
                            
                                            <% for (j in projects[i].skills ){ %>
                                                <a href=""><span class="tag tag-firestore tag-md me-3 mb-2">#<%= projects[i].skills[j] %></span></a>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <%}%>
        </div>


          </div>
      </div>

          


        <!-- ------------------------------------- -->

        <br>
        <!-- popup window for adding previous projects -->
        <div class="popupWindow hidePopupWindow" id="addPrevProjectPopupWindow">
            <!-- popup message -->
            <div class="popup-message">
                <img src="../images/project.png" alt="project-icon">
                <h3>Add previous project</h3>
            </div>
            <!-- popup content -->
            <div class="popup-content">
                <form  id="addPrevProjectForm" action="/portfolio" method="post" enctype="multipart/form-data">
                    <div class="form-group row  mt-3">
                        <label for="Title" class="col-sm-4 col-form-label" >Project Title</label>
                        <div class="col-sm-8">
                            <input type="text" name="title" class="form-control"  placeholder="title" id="title"  maxlength="20" required>
                        </div>    
                    </div>
                    <textarea class="form-control mt-3" name="description" id="description" cols="30" rows="5" placeholder="Project Description and your contribution" required></textarea>             
                    
                    <!-- <div class="form-group row  mt-3">
                        <label for="link" class="col-sm-4 col-form-label" >Project link</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="link" placeholder="project website,video, etc..." id="link" required>
                        </div>    
                    </div> -->
                    
                    <div class="form-group row  mt-3">
                        <label for="skills" class="col-sm-4 col-form-label">Skills used</label>
                        <div class="col-sm-8">
                        <input name="skills" id="skills" type="text" class="form-control" placeholder="Javascript, css, HTML" required>
                        </div>    
                    </div>    
                    <div class="form-group row mt-3">
                        <label for="chooseImg" class="col-sm-4 col-form-label">Add Images</label>
                        <div class="col-sm-8">
                            <input id="chooseImg" type="file" class="form-control" name='images' multiple accept="image/jpeg, image/png" required>
                        </div>       
                    </div>
                    <!-- <div class="form-group row mt-3">
                        <label for="completeDate" class="col-sm-4 col-form-label">Date completed</label>
                        <div class="col-sm-8">
                            <input id="completeDate" type="date" class="form-control" required>
                        </div>  
                    </div> -->
                    <!-- <div>
                        <label for="contactChoice1">completed?</label>
                        <input type="checbox" name="completed" value="true" />
                    </div> -->
                    <div class="sure-buttsons-container mt-3">
                        <button class="btn btn-primary btn-lg mb-2" id="addProject">Add</button>
                    </div>
                    <a class="" id="cancelAddingPrevProject">Cancel</a>
                </form>
            </div>
        </div>


        
    </main>
<%- include("partials/footer") -%>