<%- include("partials/header") -%>

      </header>

      <% if(alert) {%>
        <div class="alert alert-<%= alert.type %> alert-dismissible fade show m-3" role="alert">
            <strong><%= alert.title %></strong> <%= alert.message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>


      <main class="project">

        <div class="project-left-contaner">

            <% if(projectOwner){ %>
            <div class="p-text-container">
                <h1>Project Owner</h1>
                <p class="p-text"><a href="/portfolio/<%= projectOwner._id %>"><%= projectOwner.firstName + " " + projectOwner.lastName%></a></p>
            </div>
            <% } %>

            <div class="p-text-container mt-3 mb-3">
                <h1>Title</h1>
                <p class="p-text"><%= project.title %></p>
            </div>
    
            <div class="p-text-container mt-3 mb-3">
                <h1>description</h1>
                <p class="p-text"><%= project.description %></p>
            </div>
    
            <div class="p-text-container">
                <h1>Skills Needed</h1>
                <ul class="p-text">
                    <% project.skills.forEach(skill => { %>
                    <li><%= skill %></li>
                    <% }) %>
                </ul>


            </div>
        </div>

        <div class="project-right-contaner">
            <div class="project-images">
                        <!-- Carousel -->

                <div id="carousel" class="carousel carousel-project slide">
                    <div class="carousel-inner">
                    

                    <div class="carousel-item active">
                        <img src="../<%= project.img.split(",")[0] %>" class="d-block w-100" alt="..." onerror="this.src='../images/not-found.jpeg';">
                    </div>

                    <% for(let i = 1; i < project.img.split(",").length; i++){ %>

                        <div class="carousel-item">
                            <img src="../<%= project.img.split(",")[i] %>" class="d-block w-100" alt="...">
                        </div>
                        <% } %>


                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>


            </div>
            
            <% if(projectOwner && projectOwner._id == userID){ %>
                <button class="btn btn-primary btn-lg mt-3" id="establishProject" onclick="establishProject()">Start Project</button>
                <button class="btn btn-danger btn-lg mt-3" id="removeProject" onclick="removeProject()">Remove Project</button>
            <% }else{ %>
                <button class="btn btn-primary btn-lg mt-3" onclick="applyPopup()">Apply</button>
            <% } %>

        </div>
      </main>

      <hr class="divider">

      <div class="applicationsCards">
        <div class="row">


            <% applications.forEach(application => { %>
                <% let isTeammate = false; %>

                <% project.teammates.forEach(member => {%>
                    <% if(member.userID == application.userID){ %>
                    <% isTeammate = true; %>
                    <% }}) %>



                <div class="col col-12 applicationCard m-2">
                    <div class="application-text-container">

                        <% if(application.userName){ %>
                            <h3><%= application.userName %></h3>
                        <% }else{ %>
                            <h3>Empty Name ==> user id: <%= application.userID %></h3>
                        <% } %>

                        <% if(isTeammate){ %>
                            <img class="teammate-img" src="../images/accept.png" alt="">
                            <% } %>

                        <p><%= application.message %></p>
                    </div>
                    <div class="application-buttons-container">
                        <% if(projectOwner && projectOwner._id == userID){ %>
                            <% if(!isTeammate) {%>
                                <form style="display: inline;" action="/projects/<%= project._id %>/accept/<%= application.userID %>" method="POST">
                                    <button class="btn btn-primary btn-sm mt-1 acceptBtn">Accept</button>
                                </form>
                                <form style="display: inline;" action="/projects/<%= project._id %>/remove/<%= application.userID %>" method="POST" onsubmit="return confirm('Are you sure to remove this application?')">
                                    <button class="btn btn-danger btn-sm mt-1 removeBtn">Remove</button>   
                                </form>
                            <% } else {%>
                                <form style="display: inline;" action="/projects/<%= project._id %>/kick/<%= application.userID %>" method="POST">
                                    <button class="btn btn-danger btn-sm mt-1 removeBtn">Kick</button>   
                                </form>
                             <% }} %>


                        <a class="btn btn-secondary btn-sm mt-1 portfolioBtn" href="/portfolio/<%= application.userID %>">Portfolio</a>
                        <!-- <a href="http:" class="btn btn-primary">Go to Google</a> -->
                    </div>
                </div>
            <% }) %>

        </div>
    </div>

        <!-- Pupup for removing a project  -->
        <div class="popupWindow hidePopupWindow" id="removeProjectPopupWindow">
            <div class="popup-message">
                <img class="mb-2" src="../images/remove.png">
                <h3>Are You Sure?</h3>
            </div>
            <div class="sure-buttons-container">
                <form action="/projects/<%= project._id %>/remove" method="POST">
                    <button type="submit"class="btn btn-danger btn-lg" >Remove</button>
                    <button type="button" class="btn btn-primary btn-lg" onclick="removeProject()">Cancel</button>
                </form>
            </div>
        </div>
            <!-- Establishing a project popup  -->
    <div class="popupWindow hidePopupWindow" id="establishProjectPopupWindow">
        <div class="popup-message">
            <img class="mb-2" src="../images/accept.png">
            <h3>Are You Sure?</h3>
        </div>
        <div class="sure-buttons-container">
            <form action="/projects/<%= project._id %>/establish" method="POST">
                <button type="submit" class="btn btn-success btn-lg">Start</button>
                <button type="button" class="btn btn-danger btn-lg" onclick="establishProject()">Cancel</button>
            </form>

        </div>
    </div>

    <!-- popup window for Apply  -->
    <div class="popupWindow hidePopupWindow" id="applicationWindow">
        <div class="popup-message">
            <img src="../images/apply.png" alt="Application Icon">
            <h3>Application Form</h3>
        </div>
        <div class="popup-content">
            <form action="/projects/<%= project._id %>" method="POST">
                <textarea name="applicationMessage" class="form-control" name="applicationText" cols="30" rows="5" maxlength="300"></textarea>
                <button type="submit" class="btn btn-primary btn-lg mt-3" id="applyBtn">Apply</button>
            </form>
            <a class="mt-2" onclick="applyPopup()">Cancel</a>

        </div>
    </div>



    <%- include("partials/footer") -%>