<%- include("partials/header") -%>

    <% if(alert != null) {%>
        <div class="alert alert-<%= alert.type %> alert-dismissible fade show m-3" role="alert">
            <strong><%= alert.title %></strong> <%= alert.message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <div class="setting-main-container">

        <form class="settings-container form-signin" action="/settings" method="POST">
            <div class="settings-header">
                <img class="settings-img mb-3" src="../images/man.png" alt="">
                <h3>Settings</h3>
            </div>

            <div class="settings-body">
                <div class="form-label-group">
                    <input type="text" id="name" name="fullName" class="form-control" value="<%= name %>" placeholder="Full Name" required autofocus>
                </div>

                <div class="form-label-group  mt-3">
                    <input type="email" id="inputEmail" name="email" class="form-control"  value="<%= email %>" placeholder="Email address" required>
                </div>
        
                <div>
                    <button class="btn btn-primary btn-lg btn-block mt-3 mb-2" type="submit">Save</button>
                </div>
                
                <a class="change-password-lnk" id="changePassowrdBtn">Change Password</a>
            </div>

        </form>
    </div>



        <div class="popupWindow hidePopupWindow" id="changePasswordWindow">
            <div class="popup-message">
                <img class="mb-2" src="images/password.png">
                <h3>Change Password</h3>
            </div>
            <div class="popup-content">

                <form action="/settings/changePassword" method="POST" onsubmit="return changePasswordValidation()">
                    <div class="form-label-group">
                        <input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Old Password" required autofocus>
                    </div>
                    <div class="form-label-group">
                        <input type="password" name="newPassword" id="newPassword" class="form-control mt-2 mb-2" placeholder="New Password" required autofocus>
                    </div>
                    <div class="form-label-group">
                        <input type="password" name="confirmNewPassword" id="confirmNewPassword"  class="form-control" placeholder="Repeat New Password" required autofocus>
                    </div>
                    <button type="submit" class="btn btn-danger btn-lg mt-3" id="changePassword">Change Password</button>
                </form>

                <a class="mt-2" id="cancelChangingPassword">Cancel</a>

            </div>
            
        </div>

<%- include("partials/footer") -%>